<% provide(:title, "Home") %>
<!DOCTYPE html>

<!-- Start Slider BODY section -->

		<div class="ws_images">
		  	<img src="/assets/home_page/banner1.jpg" alt="banner1" title="banner1" id="wows0"/>
	
	    </div>
	
 
	<!-- End Slider BODY section -->	
           <br> 
	<div id="icons">
		<img src="/assets/home_page/headertext.png" width="380" height="60" alt="Your Adventure Starts Here" /> &nbsp;
        <a href="kayaking.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon1','','/assets/home_page/KayakingFade.png',0)"><img src="/assets/home_page/KayakingSolid.png" alt="Kayaking Holiday" name="icon1" width="70" height="70" border="0" id="icon1" /></a>&nbsp;
        <a href="watersports.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon2','','/assets/home_page/WaterSportsFade.png',0)"><img src="/assets/home_page/WaterSportsSolid.png" alt="Water Sports Holiday" name="icon2" width="76" height="70" border="0" id="icon2" /></a>&nbsp;
        <a href="skiing.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon3','','/assets/home_page/SkiingFade.png',0)"><img src="/assets/home_page/SkiingSolid.png" alt="Skiing Holiday" name="icon3" width="70" height="70" border="0" id="icon3" /></a>&nbsp;
        <a href="biking.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon4','','/assets/home_page/BikingFade.png',0)"><img src="/assets/home_page/BikingSolid.png" alt="Biking Holiday" name="icon4" width="70" height="70" border="0" id="icon4" /></a>&nbsp;
        <a href="walking.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon5','','/assets/home_page/WalkingFade.png',0)"><img src="/assets/home_page/WalkingSolid.png" alt="Walking Holiday" name="icon5" width="70" height="70" border="0" id="icon5" /></a>&nbsp;
        <a href="horseriding.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('icon6','','/assets/home_page/HorseRidingFade.png',0)"><img src="/assets/home_page/HorseRidingSolid.png" alt="Horse Riding Holiday" name="icon6" width="76" height="70" border="0" id="icon6" /></a>&nbsp;
    </div>
    <!--icons closed-->
    
    <div id="content">
   
	<div id="content1">
	  <%= link_to destination_path do %>
  		<%= image_tag ("home_page/biking.jpg"), :class => "home_pics" %> 
  	<% end %>
	<h2>Ring of Kerry Cycling</h2>
    <p>With the highest mountain range in Ireland as a backdrop to our RING OF KERRY CYCLING holiday the world famous Ring of Kerry traces the coastline of the Iveragh Peninsula encompassing Muckross, Killarney National Park, historic Derrynane and the picturesque villages of Sneem, Kenmare and Glenbeigh. <br /><br />
    
  	</br>
  	  <%= link_to destination_path do %>
  	<%= image_tag ("home_page/water.jpg"), :class => "home_pics" %> 
  		<% end %>
    <h2>Iceland Island Adventure </h2>
    <p>3 days in Iceland including all of its greatest adventure tours in our bestselling holiday package to Reykjavík. The ultimate adventure holiday to the island of Ice and Fire! The Iceland Island Adventure is built around many of the greatest activity tours and all the must see nature sights that South-Iceland has to offer with spare time to explore and experience Reykjavík city on your own.  <br /><br />
    
	</div><!--content1 closed-->


	<div id="content2">
	    <%= link_to destination_path do %>
	  <%= image_tag ("home_page/walkingitaly.jpg"), :class => "home_pics" %>
	  	<% end %>
  	<h2>Hiking Bordeauxs Vineyards</h2>
    <p>On this Self-guided hiking Bordeaux’s vineyards tour you will cross some of the most famous vineyards in the world experiencing a wonderful mix of beautiful landscapes, oenological pleasure and cultural discoveries… Explore the vineyards and cobbled streets of St. Emilion, to the vineyards of Sauternes. <br /><br />
    </br>
      <%= link_to destination_path do %>
    <%= image_tag ("home_page/bikingfrance.jpg"), :class => "home_pics" %>
    	<% end %>
    <h2>Tuscany Bike Tour</h2>
    <p>On the Tuscany Self Guided Bike Tour explore the heart of Tuscany by bike from Lucca to the famous leaning Tower of Pisa and Leonardo da Vinci’s birthplace. Ride through the Chianti’s vineyards and pedal back to the fortified town of Lucca. •	Pedal through the most beautiful vineyards of the Chianti region <br /><br />
	</div><!--content2 closed-->


	<div id="content3">
	   <%= link_to destination_path do %>
	  <%= image_tag ("home_page/skiingswitz.jpg"), :class => "home_pics" %>
	  	<% end %>
  	<h2>Myanmar Adventure In-Style</h2>
    <p>Free from the clutches of tomorrow’s technologies, the unassuming nature of Myanmar’s people captures the hearts of travelers, with plenty to also entertain the adventure hungry. Cruises along the Irrawaddy and on Inle Lake add to Myanmar’s unique charm.<br /><br />
    </br>
     <%= link_to destination_path do %>
     <%= image_tag ("home_page/surfing.jpg"), :class => "home_pics" %>
     	<% end %>
    <h2>Rafting and Kayaking La Gran Sabana</h2>
    <p>Rafting in La Gran Sabana Venezuela, Rio Yuruani (Remo & Body Rafting Rafting) Rio Yuruani. This activity is practiced in the Rio Yuruani in the Gran Sabana, departing from Santa Elena Yuruani until the river, jumping rafting is practiced is called JUMP THE CURTAIN
 <br /><br />

	</div><!--content3 closed-->

    
   </div><!--content closed-->