<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<h1>Start the Adventure</h1>
	<p>Pick your favorite place to start the Adventure</p>
	
 <% @tours.each do |tour| %>
  <div class="entry">
    <%= image_tag(tour.image_url) %>
        <h3><%= tour.title %></h3>
            <%= sanitize(tour.description) %>
    <div class="price_line">
        <span class="price"><%= number_to_currency(tour.Price) %></span>
            <%= button_to 'Add to Cart', line_items_path(tour_id: tour)%>
    </div>
  </div>
<% end %>

<h1>Loook all our tours</h1>
	
	<%= link_to "destination", destination_path %>
