<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<h1>Start the Adventure</h1>
	<p>Pick your favorite place to start the Adventure</p>

 <% @tours.each do |tour| %>
  <div class="continent">
      <div class="cont_tour"> 
      <br>
      <h3><%= tour.title %></h3>
        <%= sanitize(tour.description, length: { maximum: 40 }) %>
        <span class="price"><%= number_to_currency(tour.Price) %></span>
        <%= button_to 'Add to Cart', line_items_path(tour_id: tour)%>
        </div>  
            <%= image_tag(tour.image_url, :class => "continent_pic") %>
            <br>
            <br>
  </div>
<% end %>