<div id="container">

	<div id="logo">
		<%= form_tag tours_path, :method => 'get' do %>
  		<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
		</p>
	<% end %>
		
		 <% if logged_in? %>
		 <%= link_to '<button type="button">Update Profile</button>'.html_safe, edit_user_path(current_user) %>
		<%= link_to '<button type="button">Profile</button>'.html_safe, current_user %>
   		<%= link_to '<button type="button">Log out</button>'.html_safe, logout_path, method: "delete" %> 
   		 <% else %>
   		 <%= link_to '<button type="button">Login</button>'.html_safe, login_path %>
         <%= link_to '<button type="button">Signup Up</button>'.html_safe, signup_path %>
 		<% end %>
 		<%= link_to current_path do %>
  		<%= image_tag ("basketred.png") %> 
		<% end %>
   		
	</div>

<div id="menu">
	 <ul>
	 <li><%= link_to "Home", root_path %></li>

     <li><%= link_to "about",   about_path %></li>
     
	 <li><%= link_to "destination", destination_path %></li>
	 	<ul>
	 	<li><a href="asia.html">ASIA</a></li>
	 	<li><a href="africa.html">AFRICA</a></li>
	 	<li><a href="southamerica.html">SOUTH AMERICA</a></li>
        <li><a href="europe.html">EUROPE</a></li>
        </ul>

	  <li><%= link_to "contact", contact_path %></li>
	 </li>

    </ul>
    </div><!--menu closed-->  





