<div id="container">

	<div id="logo">
		 <% if logged_in? %>
			<%= link_to "Settings", edit_user_path(current_user) %>
			<%= link_to "Profile", current_user %>
   			<%= link_to "Log out", logout_path, method: "delete" %> 
   		 <% else %>
          <%= link_to "Log in", login_path %>	
           <%= link_to "Sign up now!", signup_path %>
 		<% end %>
   			
    		<%= link_to "carts#current", current_path %>,<img src="assets/basketred.png" alt="Go To Basket" width="20" height="20" border="0"/></a>
	</div>
	<!--logo closed-->

<div id="menu">
	 <ul>
	 <li><%= link_to "Home", root_path %></li>

     <li><%= link_to "about",   about_path %></li>
     
	 <li><%= link_to "destination", destination_path %></li>
	 	<ul>
	 	<li><a href="asia.html">ASIA</a></li>
	 	<li><a href="africa.html">AFRICA</a></li>
	 	<li><a href="southamerica.html">SOUTH AMERICA</a></li>
        <li><a href="europe.html">EUROPE</a></li>
        </ul>
        
	 </li>
     	<li><a href="activity.html">ACTIVITY</a>
     	<ul>
     	<li><a href="biking.html">BIKING</a></li>
     	<li><a href="walking.html">WALKING</a></li>
     	<li><a href="multiactivity.html">MULTI ACTIVITY</a></li>
     	</ul>
     </li>

	  <li><%= link_to "contact", contact_path %></li>
	 </li>

    </ul>
    </div><!--menu closed-->  





